@import "./fonts"

*
    &
    &::after
    &::before
        box-sizing: border-box
        margin: 0
        padding: 0
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif
        object-fit: contain
        font-size: inherit
        transition: all 0.3s ease-in-out
        user-select: none

button
    border: 0
    background: transparent

html
body
    font-size: 18px
    height: 100vh
    overflow: hidden
    width: 100vw

body
    display: flex
    justify-content: center
    align-items: flex-end

:root
    --font-funny: "earwig_factoryregular"
    --color-gray: #464646
    --z-table: 1
